{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Emerance's Gallery - {{title}}</title>
  {% else %}
    <title> Emerance's Gallery </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}
        <!-- Adding a search form  -->
        <div style="margin-left: 300px; margin-right: 300px">
    
          <form role="search" action="{% url 'searchImage' %}">
    
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search image" name="imgName">
                  <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i
                              class="glyphicon glyphicon-search"></i></button>
                  </div>
              </div>
    
          </form>
      </div>
      <!-- search form end -->
    {% block content %}
    
    {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}

</body>
</html>