<link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
{%extends 'all-picsPages/base.html'%}
{% block content %}
<div class="container-fluid" style="position: relative ; margin-top: 30px">

  <div class="row">
    {% if photos %}
    <h2 style="font-family: 'Lobster',cursive;text-decoration-line: underline;text-align: center; font-size: 30px; color:violet">Found {{ photos|length }} of searched term {{message}}</h2>
    {% else %}
    <h2 style="font-family: 'Lobster',cursive;text-decoration-line: underline;text-align: center;font-size: 30px;color:violet"> Found 0 photos for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">
    

    {% if photos %}
    {% for photo in photos %}
    <div class="col-sm-6 col-md-3">
      <img src="{{photo.upload_image.url}}" class="img-responsive" alt="Image">
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}